/* @import '~@shopify/polaris/styles.css'; */
@import './styles/tailwind.css';
@import './styles/buttons.css';

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 100px 24px 50px;
}
